/* General Styles */
* {
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  background-image: url(images/bluebubbles.PNG);
  padding:10px;
  color: whitesmoke;
  
}

/* To center the button */
div.start-page {
  text-align:center;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

.question-and-score {
  text-align: center;
}

main {
  padding: 6px;
  color: black;
}

p{
  text-align: center;
}

/* To center the button */
div.row button {
  text-align: center;
  margin: 0 auto;
  display:block;
  margin-top: 10px;
} 

/* div.col-12 {
  margin: 0 auto;
} */

button {
  background-color: #555555;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 4px;

}

body {
  /* background-color: grey; */

  /* background-repeat:  */
  background-size: cover;
}

form {
  padding: 10px 15px;
  display: block;
  margin: 0 auto;  
}

legend {
  font-size: 20px;
  padding-bottom: 10px;
}

ul li {
  list-style: none
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }

  main {
    padding: 60px;
  }
}
